@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {
  background-color: #231955;
  color: #f6f6f6;
  font-family: "Nunito Sans", sans-serif;
  padding: 0;
  margin: 0;
}

.startScreen {
  visibility: visible;
  display: flex;
  justify-content: center;
}

.titleText {
  display: flex;
  justify-content: center;
  font-size: 3em;
  font-weight: bold;
  background-color: #1f4690;
  padding: 0.75em;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
