@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {
  background-color: #231955;
  color: #f6f6f6;
  font-family: "Nunito Sans", sans-serif;
  padding: 0;
  margin: 0;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

/*Title Bar*/
.titleText {
  display: flex;
  justify-content: center;
  font-size: 3em;
  font-weight: bold;
  background-color: #1f4690;
  padding: 0.75em;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
}

/*Start Screen*/
.startScreen {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.startScreen h2 {
  margin-top: 2em;
  font-weight: 300;
  font-size: 3em;
}

.startScreen button,
.startScreen input {
  font-weight: 300;
  border: none;
  background-color: #1f4690;
  color: #f6f6f6;
  font-size: 1.2em;
  font-family: "Nunito Sans", sans-serif;
}

.startScreen button {
  font-size: 2em;
  margin-top: 0.5em;
}

.startScreen button:hover,
.startScreen input:hover {
  background-color: rgba(31, 70, 144, 0.75);
}
.startScreen button:active,
.startScreen input:active {
  background-color: rgba(31, 70, 144, 0.5);
}

/*Game Screen*/
.gameScreen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  font-size: 1.75em;
}

.battleField img {
  width: 5em;
  height: 5em;
  object-fit: cover;
}
